.home-background {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.floating-container {
  position: fixed;
  top: -10vh;    /* смещаем вверх */
  left: -10vw;   /* смещаем влево */
  width: 120vw;  /* делаем шире окна */
  height: 120vh;
  overflow: visible;
  pointer-events: none;
  z-index: -1;
}

.floating-image {
  width: 10vh;
  height: auto;
  position: absolute;
  /*opacity: 0.8;*/
  user-select: none;
  transition: transform 0.05s linear;
}

.home-container {
  position: absolute;
  z-index: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 20vh;
  text-shadow: 0 0 10px #00000075;
}

.home-title {
  user-select: none;
  font-size: clamp(3rem, 4vw, 5rem);
  font-weight: 900;
  padding-bottom: 0.8vh;
  color: #e0e7ff;
  z-index: 1;
  min-width: 35vw;
  border-radius: 5vh;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 50px rgba(0, 13, 72, 0.3);
  background: rgba(139, 137, 122, 0.3);
}

.home-small-title {
  user-select: none;
  font-weight: 700;
  padding-bottom: 0.6vh;
  margin-top: 2vh;
  font-size: clamp(2rem, 2vw, 3rem);
  color: #facc15;
  z-index: 1;
  width: 50vw;
  border-radius: 5vh;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 50px rgba(0, 13, 72, 0.3);
  background: rgba(139, 137, 122, 0.3);
}

@media (max-width: 768px) {
  .home-title {
    font-size: clamp(1.8rem, 4vw, 3rem);
    width: 80vw;
  }

  .home-small-title {
    margin-top: 2vh;
    width: 60vw;
    font-size: clamp(0.8rem, 2vw, 2rem);
  }

  .home-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    border-radius: 4vh;
  }

}
